/* src/App.css */
body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #f1f1f1;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

#header {
  background: linear-gradient(90deg, #214243, #55f1ec); /* Verde azulado */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  overflow: hidden;
  border-bottom: 4px solid #0f0f0f;
}

section {
  padding: 2rem;
  margin: 1rem;
}

.project {
  width: 750px;
  margin-bottom: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  color: #333;
}

.project:hover {
  transform: translateY(-5px);
}

.project img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 1rem 0;
}

.footer {
  text-align: center;
  padding: 1rem;
  margin-bottom: 0;
  position: relative;
  background: #111;
  border-top: 2px solid #444;
}

.img_banner {
  image-orientation: from-image;
  image-resolution: normal;
  width: 80%;
  max-height: 250px;
  object-fit: contain;
}

.img_profile{
  width: 10%;
  max-width: 200px;
  border: 3px solid #61dafb;
}

@media (max-width: 768px) {
  .img_profile{
    width: 20%;
  }
}

.about {
  font-size: 18px;
}

.about h2,
.projects h2,
.contact h2 {
  margin-top: 40px;
  color: #61dafb;
  border-bottom: 2px solid #61dafb;
  display: inline-block;
  padding-bottom: 5px;
}

.about p,
.projects p,
.contact p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.list_tec ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 0;
}

.list_tec li{
  text-decoration: none;
  cursor: crosshair;
  background-color: rgba(255, 255, 255, 0.05);
  border-left: 4px solid #61dafb;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.icons {
  margin-right: 0.5rem;
}

.icon {
  text-decoration: none;
}

.icon:hover {
  border-bottom: 2px solid #61dafb;
  text-decoration: none;
}

a {
  color: #61dafb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
