/* src/App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  width: 98%;
}

.navbar li{
  margin-right: 15px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar li a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.header {
  background-color: #333;
  color: #fff;
  margin-bottom: 10px;
  padding: 2rem;
  text-align: center;
  margin-top: 60px;
}

section {
  padding: 2rem;
  margin: 1rem;
}

.project {
  width: 750px;
  margin-bottom: 2rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  color: #333;
}

.project:hover {
  transform: translateY(-5px);
}

.project img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 1rem 0;
}

.project a {
  color: #0073e6;
  text-decoration: none;
  font-weight: bold;
}

.projects{

}

.contact a {
  color: #0073e6;
  text-decoration: none;
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: #f0f0f0;
  margin-bottom: 0;
  position: relative;
}

.img_banner {
  image-orientation: from-image;
  image-resolution: normal;
  width: 98%;
}

.about {
  font-size: 18px;
  color: #333;
}

.list_tec ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list_tec li{
  text-decoration: none;
  cursor: crosshair;
}

.icons {
  margin-right: 0.5rem;
}